<?xml version="1.0"?>
<psalm
	xmlns="https://getpsalm.org/schema/config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
	<projectFiles>
		<file name="./test.php" />
		<file name="./Plugin.php" />
		<ignoreFiles>
			<directory name="vendor" />
		</ignoreFiles>
	</projectFiles>
	<plugins>
		<pluginClass class="PsalmWordPress\Plugin" />
		<pluginClass class="Psalm\PhpUnitPlugin\Plugin" />
	</plugins>
</psalm>
